mat-card {
  width: 1000px;
  margin: 50px auto;
  padding: 20px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}

th,
td {
  text-align: center;
}
.btn-task {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  button {
    background-color: #4caf50;
    font-weight: bold;
  }
}

.cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: grab;
}

.btn-delete {
  &:hover {
    color: #f44336;
  }
}
.btn-edit {
  &:hover {
    color: #2196f3;
  }
}
.btn-up {
  &:hover {
    color: #4caf50;
  }
}
.btn-down {
  &:hover {
    color: #f44336;
  }
}

.high-cost {
  background-color: #ffef5c; /* ou qualquer cor que você preferir */
}
.warning-icon {
  color: red; /* ou qualquer cor que você preferir */
  margin-left: 8px; /* ajuste conforme necessário */
}
